.recomendados {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.recomendados div {
  margin: 0;
}

h1 {
  font-family: var(--fonte-secundaria);
  font-size: 2rem;
}
